a {
  color: #606060; }

.bgPrimary {
  background: #003060 !important; }

.bgColor4 {
  background: #e6edf7 !important; }

.sidebarColor {
  background: linear-gradient(180deg, #003060, #375489) repeat-x !important;
  color: #fff; }

.bodyColor {
  background-color: #e6edf7; }

.navbarStyle {
  background-color: #e6edf7; }

.cardHeader {
  background: #fff !important;
  color: #606060;
  border: none;
  padding: 0px !important; }

.cardHeader h4 a {
  background: #8DA5E0;
  padding: 10px;
  width: 30% !important;
  color: white !important; }

.cardHeader h4 a::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #8DA5E0;
  border-right: 40px solid transparent;
  position: absolute;
  left: 30%;
  top: 0; }

.footerStyle {
  background-color: #e6edf7; }

.gradientBtn {
  background: linear-gradient(180deg, #003060, #375489) repeat-x !important;
  color: #fff; }

.borderNone {
  border: none; }

.borderColor {
  border-color: #ccc;
  margin-top: 7px; }

.card-outline {
  border-top: 3px solid #003060 !important; }

.sidebar-search-results .list-group > .list-group-item:first-child {
  background-color: #003060; }

.form-control {
  font-size: 12px; }

.fontSize {
  font-size: 12px; }

.select2-dropdown {
  z-index: 1 !important; }

.input-group {
  position: relative;
  margin-bottom: 10px; }

.input-group:after {
  content: "";
  display: table;
  clear: both; }

.input-group input {
  border: none;
  border-bottom: solid 1px #ccc;
  width: 100%;
  padding: 10px 0;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  font-size: 12px !important;
  height: 44px; }

.input-group input:focus {
  outline: none;
  border-color: #000; }

.input-group label {
  position: absolute;
  top: 20px;
  left: 0;
  color: #aaa;
  font-weight: 400;
  transition: transform 0.2s ease, color 0.2s ease;
  font-size: 12px; }

.input-group label:hover {
  cursor: text; }

.input-group input:focus + label {
  color: #000; }

.input-group input:focus + label,
.input-group input.active + label {
  transform: translateY(-30px); }

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400; }
